.carousel-container{
    width: 56.25rem;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
}

.carousel-slide{
    display: flex;
    width: 100%;
    height: 43.75rem;
}

img {
    max-height: 43.75rem;
    width: 56.25rem;
}

#prevbutton {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#nextbutton {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}