body {
	background: grey;
}

.fill {
	background-image: url(images/Cole.png);
	width: 40rem;
	height: 4rem;
	position: relative;
	top: 5px;
	left: 5px;
	cursor: pointer;
}

.empty {
	width: 40.5rem;
	height: 4.5rem;
	margin: 10px;
	border: 3px black solid;
	background-color: #e2e2e0;
	transition: all .2s ease-in-out;
}

.hold {
	border: 3px solid #8190AF;
}

.hovered {
	background: #8190AF;
	transform: scale(1.1);
}

.invisible {
	display: none;
}